/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 100%;
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: #555;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
strong {
  font-weight: bold;
}
.container {
  max-width: 1204px;
  width: 100%;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.heading {
  font-family: 'Open Sans Condensed', sans-serif;
}
.form-input {
  display: inline-block;
  width: 100%;
  color: #555;
  border: none;
  outline: none;
  border-radius: 12px;
  background: -webkit-linear-gradient(bottom, #f3f3f3, #fff);
  background: linear-gradient(bottom, #f3f3f3, #fff);
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}
.form-input::-webkit-input-placeholder {
  color: rgba(85,85,85,0.75);
}
.form-input:-moz-placeholder {
  color: rgba(85,85,85,0.75);
}
.form-input::-moz-placeholder {
  color: rgba(85,85,85,0.75);
}
.form-input:-ms-input-placeholder {
  color: rgba(85,85,85,0.75);
}
.form-input.placeholder {
  color: rgba(85,85,85,0.75);
}
.form-input._size_s {
  padding: 8px 15px;
  padding: 0.5rem 0.9375rem;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
}
.form-label {
  display: block;
}
.form-checkbox,
.form-radio {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-right: 0.3125rem;
}
.btn {
  display: inline-block;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  text-align: center;
  color: inherit;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.btn._style_bright {
  background: #fbe926;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.btn._style_bright:hover {
  background: #f1dd04;
}
.btn._style_submit {
  border: 1px solid;
  border-radius: 13px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.8;
}
.btn._style_submit:hover {
  color: #000;
}
.btn:active {
  box-shadow: 0 20px 20px -20px #b3b3b3 inset;
}
.btn._size_s {
  padding: 7px 30px;
  padding: 0.4375rem 1.875rem;
  font-size: 20px;
  font-size: 1.25rem;
}
.btn._size_m {
  padding: 14px 40px;
  padding: 0.875rem 2.5rem;
  font-size: 22px;
  font-size: 1.375rem;
}
.btn._size_l {
  font-size: 32px;
  font-size: 2rem;
  padding: 13px 30px;
  padding: 0.8125rem 1.875rem;
  text-transform: none;
}
.link {
  text-decoration: none;
  line-height: 1.3;
}
.link._style_dashed {
  border-bottom: 1px dashed;
}
.link._style_dashed:hover {
  padding: 0 0 1px;
  border: none;
}
.b-auth {
  text-align: center;
}
.b-auth__section {
  padding: 15px;
  padding: 0.9375rem;
}
.b-auth__section._dark {
  color: #fff;
  background: #555;
}
.b-auth__register,
.b-auth__remember {
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  font-size: 0.875rem;
}
.b-auth .form-checkbox {
  vertical-align: middle;
}
.b-auth .form-input {
  display: block;
  margin: 0 auto;
  max-width: 180px;
}
.b-auth .form-input,
.b-auth .form-label + .form-label {
  margin-top: 18px;
  margin-top: 1.125rem;
}
.b-auth .b-socials {
  margin: 15px 0;
  margin: 0.9375rem 0;
}
.b-auth .b-socials .b-socials__item {
  margin: 5px;
  margin: 0.3125rem;
}
.b-content__top {
  padding: 26px 0;
  padding: 1.625rem 0;
  background: #ececec;
  position: relative;
}
.b-content__top__content:before,
.b-content__top__content:after {
  content: " ";
  display: table;
}
.b-content__top__content:after {
  clear: both;
}
@media only screen and (min-width: 901px) {
  .b-content {
    float: left;
    margin: 0 3.3%;
    width: 60.53%;
  }
  .b-content__top {
    max-height: 187px;
    max-height: 11.6875rem;
  }
  .b-content__top:before,
  .b-content__top:after {
    content: '';
    position: absolute;
    bottom: -27px;
    width: 800px;
    z-index: 999;
    height: 214px;
    height: 13.375rem;
  }
  .b-content__top:before {
    right: 100%;
    background: url("../img/b-content__top-left.png") no-repeat bottom center;
  }
  .b-content__top:after {
    left: 100%;
    background: url("../img/b-content__top-right.png") no-repeat bottom center;
  }
}
@media only screen and (max-width: 900px) {
  .b-content {
    margin: 0 auto;
  }
}
.b-dev {
  padding: 0 0 50px;
  padding: 0 0 3.125rem;
}
.b-dev__btn {
  margin: 15px 0;
  margin: 0.9375rem 0;
  max-width: 330px;
  width: 100%;
}
.b-dev__logo {
  display: inline-block;
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
.b-footer {
  padding: 30px 0 40px;
  padding: 1.875rem 0 2.5rem;
  background: #555;
  color: #fff;
  font-style: italic;
  text-align: center;
}
@media only screen and (min-width: 781px) {
  .b-footer__copy,
  .b-footer__dev,
  .b-footer__logo {
    display: inline-block;
    vertical-align: bottom;
  }
  .b-footer__copy,
  .b-footer__dev {
    width: 29%;
  }
  .b-footer__logo {
    width: 40%;
  }
}
@media only screen and (max-width: 780px) {
  .b-footer__copy,
  .b-footer__dev {
    margin: 8px 0;
  }
}
.b-game-advantages {
  padding-top: 22px;
  padding-top: 1.375rem;
  padding-bottom: 22px;
  padding-bottom: 1.375rem;
}
.b-game-advantages:before,
.b-game-advantages:after {
  content: " ";
  display: table;
}
.b-game-advantages:after {
  clear: both;
}
.b-game-advantages__features {
  background: #fff;
}
.b-game-advantages__features__item {
  margin: 15px 0;
  padding-right: 5px;
  padding-right: 0.3125rem;
  padding-left: 30px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  z-index: 999;
  line-height: 1.4;
}
.b-game-advantages__features__item:before {
  content: '';
  display: block;
  background: url("../img/b-game-advantages__features__item.png") no-repeat;
  width: 24px;
  height: 22px;
  position: absolute;
  top: -4px;
  left: 0;
}
.b-game-advantages__awards {
  text-align: center;
}
.b-game-advantages__awards__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  margin: 0 0.625rem;
  background: #fff;
}
@media only screen and (min-width: 1001px) {
  .b-game-advantages__item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  .b-game-advantages__col {
    float: left;
    width: 48%;
  }
  .b-game-advantages__col:before,
  .b-game-advantages__col:after {
    content: " ";
    display: table;
  }
  .b-game-advantages__col:after {
    clear: both;
  }
  .b-game-advantages__col + .b-game-advantages__col {
    margin-left: 2%;
  }
}
@media only screen and (max-width: 1000px) {
  .b-game-advantages__col + .b-game-advantages__col {
    margin-top: 10px;
    margin-top: 0.625rem;
  }
  .b-game-advantages__features {
    text-align: center;
  }
  .b-game-advantages__features ul {
    display: inline-block;
    text-align: left;
  }
}
.b-game-brief {
  float: right;
  width: 250px;
  background: #fff;
}
.b-game-brief__top {
  background: #46a4df;
  padding: 10px 0;
  padding: 0.625rem 0;
  text-align: center;
  color: #fff;
}
.b-game-brief__main {
  padding: 25px;
  padding: 1.5625rem;
}
.b-game-brief__stats {
  font-size: 12px;
  font-size: 0.75rem;
}
.b-game-brief__rating {
  display: inline-block;
  margin: 0 0 5px;
  margin: 0 0 0.3125rem;
}
.b-game-brief__play {
  margin-top: 18px;
  margin-top: 1.125rem;
}
.b-game-brief__info__item + .b-game-brief__info__item {
  margin-top: 18px;
  margin-top: 1.125rem;
}
.b-game-brief__info__heading {
  font-weight: 600;
  line-height: 1.6;
  margin: 0 0 8px;
  margin: 0 0 0.5rem;
}
.b-game-brief__info__text {
  font-style: italic;
  word-break: break-all;
}
.b-game-brief__info__link {
  color: #46a4df;
}
.b-game-preview {
  min-height: 484px;
  min-height: 30.25rem;
  position: relative;
  text-align: center;
}
.b-game-preview__top,
.b-game-preview__bottom {
  position: absolute;
  left: 0;
  width: 100%;
}
.b-game-preview__top {
  top: 0;
}
.b-game-preview__bottom {
  bottom: 0;
}
.b-game-preview__desc {
  padding: 10px;
  padding: 0.625rem;
  min-height: 150px;
  min-height: 9.375rem;
  background: #fff;
  font-style: italic;
}
.b-game-preview__image {
  width: 100%;
}
.b-game-preview__actions {
  background: #555;
  padding: 20px 0;
  padding: 1.25rem 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
}
.b-game-preview__actions a {
  display: inline-block;
  vertical-align: middle;
}
.b-game-preview__actions a + a {
  margin-left: 25px;
  margin-left: 1.5625rem;
}
.b-game-preview__more {
  color: #fff;
}
.b-game-preview__name {
  padding: 5px 0;
  padding: 0.3125rem 0;
  background: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #555;
}
.b-game-preview__stats {
  background: rgba(0,0,0,0.2);
  padding: 6px 0;
  padding: 0.375rem 0;
  color: #fff;
  font-family: 'Times New Roman', serif;
  font-size: 12px;
  font-size: 0.75rem;
}
.b-game {
  width: 100%;
  background: #fff;
/* Верхний блок
    -------------------------------------------------------------- */
/* Теги
    -------------------------------------------------------------- */
/* Описание, скриншоты, похожие игры
    -------------------------------------------------------------- */
/* Видео
    -------------------------------------------------------------- */
/* Комментарии
    -------------------------------------------------------------- */
/*@media only screen and (min-width: 701px)
        &__info
            &__items
                float left;
                width 25%;
                text-align right;

            &__video
                float left;
                width 75%;

    @media only screen and (max-width: 700px)
        &__info
            &__video
                width 100%;

    @media only screen and (min-width: 601px)
        &__section
            remit(padding-right, 55px);
            remit(padding-left, 55px);

        &__top
            &__socials
                float left;

            &__stats
                margin-top 3px;
                float right;
                text-align right;

            &__rating
                display inline-block;
                vertical-align middle;
                remit(margin-left, 25px);

    @media only screen and (max-width: 600px)
        &__top
            text-align center;

            &__rating, &__stats, &__socials
                remit(margin, 8px auto);*/
}
.b-game__heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.b-game__heading._section {
  text-transform: uppercase;
  text-align: center;
}
.b-game__heading._size_l {
  font-size: 40px;
  font-size: 2.5rem;
}
.b-game__heading._size_m {
  font-size: 30px;
  font-size: 1.875rem;
}
@media only screen and (min-width: 801px) {
  .b-game__section {
    padding-right: 42px;
    padding-right: 2.625rem;
    padding-left: 42px;
    padding-left: 2.625rem;
  }
}
@media only screen and (max-width: 800px) {
  .b-game__section {
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-left: 10px;
    padding-left: 0.625rem;
  }
}
.b-game__section._section-bg {
  background: url("../img/b-game__section.jpg") no-repeat center center;
  background-size: cover;
}
.b-game__line {
  display: block;
  height: 12px;
  background: url("../img/b-game__line.png") no-repeat center center;
}
.b-game__play {
  display: block;
  max-width: 300px;
  color: #555;
  margin-right: auto;
  margin-left: auto;
}
.b-game__bg {
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  background-size: cover;
}
.b-game__bg:before,
.b-game__bg:after {
  content: " ";
  display: table;
}
.b-game__bg:after {
  clear: both;
}
.b-game__top {
  color: #555;
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
}
.b-game__top__name {
  margin: 0;
}
@media only screen and (min-width: 801px) {
  .b-game__top__name,
  .b-game__top__socials {
    display: inline-block;
    vertical-align: middle;
  }
  .b-game__top__name {
    width: 60%;
  }
  .b-game__top__socials {
    width: 20%;
  }
}
@media only screen and (max-width: 800px) {
  .b-game__top__socials {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
.b-game__top__socials .b-socials__item + .b-socials__item {
  margin-left: 5px;
  margin-left: 0.3125rem;
}
.b-game__tags {
  text-align: center;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}
.b-game__tags__item {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
  margin: 0.625rem 0;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #46a4df;
}
.b-game__tags__item + .b-game__tags__item {
  margin-left: 12px;
  margin-left: 0.75rem;
}
.b-game__tags__item a {
  text-decoration: underline;
}
.b-game__tags__item a:hover {
  text-decoration: none;
}
.b-game__desc,
.b-game__screens,
.b-game__similar {
  padding-top: 25px;
  padding-top: 1.5625rem;
  padding-bottom: 35px;
  padding-bottom: 2.1875rem;
  text-align: center;
}
.b-game__desc__text {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
  font-style: italic;
}
.b-game__screens__heading {
  color: #fff;
}
.b-game__similar__heading {
  color: #fff;
  margin: 0 0 35px;
  margin: 0 0 2.1875rem;
}
.b-game__video {
  padding-top: 25px;
  padding-top: 1.5625rem;
  padding-bottom: 75px;
  padding-bottom: 4.6875rem;
  position: relative;
}
.b-game__video__wrapper {
  max-width: 1045px;
  margin: 0 auto;
  margin: 0 auto;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: relative;
  z-index: 10;
  outline-width: 10px;
  outline-width: 0.625rem;
  outline-style: solid;
  outline-color: #fff;
}
.b-game__video__wrapper iframe {
  positon: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.b-game__video:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 150px;
  opacity: 0.75;
  background: url("../img/b-game__video__shadow.png") no-repeat center center;
}
.b-game__comments {
  padding-top: 35px;
  padding-top: 2.1875rem;
  padding-bottom: 35px;
  padding-bottom: 2.1875rem;
  background: #ececec;
}
.b-game__comments__heading {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
}
.b-game__comments__wrapper {
  max-width: 810px;
  margin: 0 auto;
  padding: 40px 60px;
  padding: 2.5rem 3.75rem;
  background: #fff;
}
.b-games-list {
  text-align: center;
}
.b-games-list:before,
.b-games-list:after {
  content: " ";
  display: table;
}
.b-games-list:after {
  clear: both;
}
@media only screen and (min-width: 581px) {
  .b-games-list__col {
    width: 48.49%;
    float: left;
  }
  .b-games-list__col + .b-games-list__col {
    margin-left: 3%;
  }
  .b-games-list__item + .b-games-list__item {
    margin-top: 22px;
    margin-top: 1.375rem;
  }
}
@media only screen and (max-width: 581px) {
  .b-games-list__item {
    margin: 20px auto;
    margin: 1.25rem auto;
    max-width: 354px;
  }
}
.b-games-slider {
  margin: 0 auto;
  position: relative;
}
.b-games-slider__item {
  float: left;
  width: 330px;
  margin: 0 8px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.b-games-slider__item__heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 10px;
  margin: 0 0 0.625rem;
  font-size: 30px;
  font-size: 1.875rem;
  color: #fff;
}
.b-games-slider__item__more {
  margin: 20px 0 0;
  margin: 1.25rem 0 0;
}
@media only screen and (min-width: 1151px) {
  .b-games-slider {
    width: 1038px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1150px) {
  .b-games-slider {
    width: 692px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .b-games-slider {
    width: 346px;
  }
}
@media only screen and (max-width: 600px) {
  .b-games-slider {
    width: 266px;
  }
  .b-games-slider__item {
    width: 250px;
  }
}
@media only screen and (min-width: 400px) {
  .b-games-slider .b-slider-nav__next,
  .b-games-slider .b-slider-nav__prev {
    position: absolute;
    top: 39%;
  }
  .b-games-slider .b-slider-nav__prev {
    left: -46px;
    left: -2.875rem;
  }
  .b-games-slider .b-slider-nav__next {
    right: -46px;
    right: -2.875rem;
  }
}
.b-header {
  padding: 30px 0 50px;
  padding: 1.875rem 0 3.125rem;
  background: url("../img/b-header.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}
.b-header__main {
  padding-top: 70px;
  padding-top: 4.375rem;
  text-align: center;
}
.b-header__main__logo {
  width: 423px;
  width: 26.4375rem;
}
.b-main {
  background-color: #ececec;
  min-height: 950px;
  position: relative;
  padding: 0 0 70px;
  padding: 0 0 4.375rem;
  overflow: hidden;
/*&:before
        content '';
        position absolute;
        background rgba($color-gray-lighter, 0.45);
        left 50%;
        top 0;
        margin-left -(1286px / 2);
        width 1286px;
        height 1202px;
        z-index -1;*/
}
@media only screen and (min-width: 900px) {
  .b-main {
    background-image: url("../img/b-main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}
.b-modal {
  display: none;
}
.b-modal__heading {
  padding: 12px 0;
  padding: 0.75rem 0;
  background: #459ed5;
  background: -webkit-linear-gradient(top, #459ed5, #417b9f);
  background: linear-gradient(top, #459ed5, #417b9f);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-top: 2px solid #56b8e2;
}
.b-promo-features:before,
.b-promo-features:after {
  content: " ";
  display: table;
}
.b-promo-features:after {
  clear: both;
}
.b-promo-features__item {
  margin: 0 0 25px;
  margin: 0 0 1.5625rem;
  color: #fff;
}
.b-promo-features__item__image {
  display: block;
  margin: 0 auto 25px;
  margin: 0 auto 1.5625rem;
}
.b-promo-features__item__text {
  font-size: 17px;
  font-size: 1.0625rem;
  font-style: italic;
  font-weight: 300;
}
.b-promo-features__item__link {
  line-height: 1.4;
}
@media only screen and (min-width: 500px) {
  .b-promo-features__item {
    display: inline-block;
    vertical-align: top;
    width: 32.9%;
  }
}
.b-promo {
  text-align: center;
}
.b-promo__main {
  background: url("../img/b-promo.jpg") no-repeat center center;
  background-size: cover;
}
.b-promo__main .container {
  max-width: 730px;
}
.b-promo__bottom {
  padding: 40px 0 80px;
  padding: 2.5rem 0 5rem;
}
.b-promo__heading,
.b-promo__text {
  padding: 30px 0;
  padding: 1.875rem 0;
  font-size: 24px;
  font-size: 1.5rem;
}
.b-promo__text {
  background: #fff;
}
.b-promo__heading {
  line-height: 1.4;
  background: #46a4df;
  color: #fff;
  position: relative;
}
.b-promo__heading:after {
  content: '';
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -20px;
  bottom: -40px;
  border: 20px solid transparent;
  border-top: 20px solid #46a4df;
}
.b-promo__features {
  padding: 25px 0;
  padding: 1.5625rem 0;
  background: rgba(0,0,0,0.85);
}
.b-promo__register {
  max-width: 400px;
  max-width: 25rem;
  width: 100%;
}
.b-promo__line {
  margin: 40px 0 10px;
  margin: 2.5rem 0 0.625rem;
  width: 100%;
  height: 12px;
  background: url("../img/b-promo__line.png") no-repeat center center;
}
.b-promo__socials {
  margin: 0 0 25px;
  margin: 0 0 1.5625rem;
}
.b-promo__socials .b-socials__item + .b-socials__item {
  margin-left: 12px;
  margin-left: 0.75rem;
}
.b-promo__slogan {
  font-style: italic;
}
@media only screen and (min-width: 800px) {
  .b-promo__main {
    padding: 90px 0;
    padding: 5.625rem 0;
  }
}
.b-rating {
  width: 129px;
  height: 20px;
  position: relative;
}
.b-rating__fill {
  width: 0;
  height: 100%;
  background: url("../img/b-rating.png") no-repeat 0 -25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.b-rating__blank {
  width: 100%;
  height: 100%;
  background: url("../img/b-rating.png") no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.b-rating__wrapper {
  width: 100%;
  height: 100%;
}
.b-rating input[type='radio'] {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;
  width: 17.4%;
  opacity: 0;
}
.b-rating input[value="5"]:checked + .b-rating__fill,
.b-rating input[value="5"]:hover + .b-rating__fill {
  width: 100%;
}
.b-rating input[value="4"]:checked + .b-rating__fill,
.b-rating input[value="4"]:hover + .b-rating__fill {
  width: 80%;
}
.b-rating input[value="3"]:checked + .b-rating__fill,
.b-rating input[value="3"]:hover + .b-rating__fill {
  width: 60%;
}
.b-rating input[value="2"]:checked + .b-rating__fill,
.b-rating input[value="2"]:hover + .b-rating__fill {
  width: 40%;
}
.b-rating input[value="1"]:checked + .b-rating__fill,
.b-rating input[value="1"]:hover + .b-rating__fill {
  width: 20%;
}
.b-screens-slider {
  margin: 30px auto;
  margin: 1.875rem auto;
  position: relative;
}
.b-screens-slider__item {
  float: left;
  width: 331px;
  margin: 0 15px;
}
@media only screen and (min-width: 1201px) {
  .b-screens-slider {
    width: 1083px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1200px) {
  .b-screens-slider {
    width: 722px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
  .b-screens-slider {
    width: 361px;
  }
}
@media only screen and (max-width: 600px) {
  .b-screens-slider {
    width: 280px;
  }
  .b-screens-slider__item {
    width: 250px;
  }
}
@media only screen and (min-width: 400px) {
  .b-screens-slider .b-slider-nav__next,
  .b-screens-slider .b-slider-nav__prev {
    position: absolute;
    top: 45%;
  }
  .b-screens-slider .b-slider-nav__prev {
    left: -40px;
    left: -2.5rem;
  }
  .b-screens-slider .b-slider-nav__next {
    right: -40px;
    right: -2.5rem;
  }
}
.b-sidebar-features {
  text-align: center;
}
.b-sidebar-features__item__heading {
  padding: 15px 0 35px;
  padding: 0.9375rem 0 2.1875rem;
  background: #46a4df;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  position: relative;
}
.b-sidebar-features__item__heading strong {
  display: block;
  text-transform: uppercase;
}
.b-sidebar-features__item__heading:after {
  content: '';
  margin-left: -25.5px;
  width: 51px;
  height: 52px;
  border-radius: 50%;
  background: #fff url("../img/b-feature-icons.png") no-repeat;
  position: absolute;
  bottom: -27px;
  left: 50%;
}
.b-sidebar-features__item__heading._icon_free:after {
  background-position: 0 -86px;
}
.b-sidebar-features__item__heading._icon_play:after {
  background-position: 0 -172px;
}
.b-sidebar-features__item__heading._icon_easy:after {
  background-position: 0 -258px;
}
.b-sidebar-features__item__heading._icon_guide:after {
  background-position: 0 -344px;
}
.b-sidebar-features__item__heading._icon_video:after {
  background-position: 0 -430px;
}
.b-sidebar-features__item__text {
  padding: 35px 10px 15px;
  padding: 2.1875rem 0.625rem 0.9375rem;
  min-height: 120px;
  min-height: 7.5rem;
  font-style: italic;
}
.b-sidebar-features__item__link {
  line-height: 1.6;
}
@media only screen and (max-width: 900px) {
  .b-sidebar-features__item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .b-sidebar-features__item:nth-child(2n) {
    margin-left: 2%;
  }
}
.b-sidebar-filter {
  padding: 0 0 20px;
  padding: 0 0 1.25rem;
}
.b-sidebar-filter:before,
.b-sidebar-filter:after {
  content: " ";
  display: table;
}
.b-sidebar-filter:after {
  clear: both;
}
.b-sidebar-filter__options {
  padding-right: 9%;
  padding-left: 9%;
  font-style: italic;
}
.b-sidebar-filter__options__item + .b-sidebar-filter__options__item {
  margin-top: 12px;
  margin-top: 0.75rem;
}
.b-sidebar-filter .form-radio,
.b-sidebar-filter .form-checkbox {
  margin-right: 5px;
  margin-right: 0.3125rem;
}
.b-sidebar-filter__btn {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 680px) and (max-width: 900px) {
  .b-sidebar-filter {
    float: left;
    width: 70%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .b-sidebar-filter__section {
    float: left;
    width: 32.666%;
  }
  .b-sidebar-filter__section + .b-sidebar-filter__section {
    margin-left: 1%;
  }
}
@media only screen and (max-width: 500px) {
  .b-sidebar-filter__options {
    margin: 0 auto;
    max-width: 200px;
  }
}
.b-sidebar-poll {
  text-align: center;
}
@media only screen and (min-width: 680px) and (max-width: 900px) {
  .b-sidebar-poll {
    float: left;
    width: 28%;
    margin-left: 2%;
  }
}
.b-sidebar:before,
.b-sidebar:after {
  content: " ";
  display: table;
}
.b-sidebar:after {
  clear: both;
}
.b-sidebar__section {
  background: #fff;
  margin-top: 8px;
  margin-top: 0.5rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
.b-sidebar__section__content {
  padding-top: 26px;
  padding-top: 1.625rem;
  padding-bottom: 26px;
  padding-bottom: 1.625rem;
}
.b-sidebar__section__heading {
  text-align: center;
}
.b-sidebar__section__heading._size_l {
  padding: 70px 0 0;
  padding: 4.375rem 0 0;
  background: #555;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.b-sidebar__section__heading._size_l div {
  margin: 8px 0 0;
  margin: 0.5rem 0 0;
  padding: 8px 0 40px;
  padding: 0.5rem 0 2.5rem;
  background: #fff;
  color: #555;
}
.b-sidebar__section__heading._size_s {
  padding: 25px 0;
  padding: 1.5625rem 0;
  background: #555;
  color: #fff;
}
@media only screen and (min-width: 901px) {
  .b-sidebar {
    float: left;
    padding-top: 98px;
    padding-top: 6.125rem;
    width: 16.41%;
  }
}
.b-slider-nav {
  text-align: center;
}
.b-slider-nav__next,
.b-slider-nav__prev {
  display: inline-block;
  margin: 8px;
  width: 35px;
  width: 2.1875rem;
  height: 35px;
  height: 2.1875rem;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-size: 1.5625rem;
  background: #fff;
  color: #000;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.b-slider-nav__next.disabled,
.b-slider-nav__prev.disabled {
  opacity: 0.7;
  cursor: default;
}
.b-slider-nav__next:not(.disabled):active,
.b-slider-nav__prev:not(.disabled):active {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.b-slider-nav__next:before {
  content: '›';
}
.b-slider-nav__prev:before {
  content: '‹';
}
.b-socials__item {
  display: inline-block;
  vertical-align: middle;
}
.b-socials__icon {
  display: inline-block;
  background: url("../img/b-socials-icons.png") no-repeat;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.b-socials__icon._size_l {
  width: 42px;
  height: 42px;
  opacity: 0.8;
}
.b-socials__icon._size_l:hover {
  opacity: 1;
}
.b-socials__icon._size_l._icon_vkontakte {
  background-position: 0 0;
}
.b-socials__icon._size_l._icon_facebook {
  background-position: -62px 0;
}
.b-socials__icon._size_l._icon_twitter {
  background-position: -124px 0;
}
.b-socials__icon._size_m {
  width: 34px;
  height: 34px;
  opacity: 0.5;
}
.b-socials__icon._size_m:hover {
  opacity: 0.8;
}
.b-socials__icon._size_m._icon_vkontakte {
  background-position: 0 -47px;
}
.b-socials__icon._size_m._icon_facebook {
  background-position: -50px -47px;
}
.b-socials__icon._size_m._icon_twitter {
  background-position: -99px -47px;
}
.b-socials__icon._size_s {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}
.b-socials__icon._size_s:hover {
  opacity: 1;
}
.b-socials__icon._size_s._icon_vkontakte {
  background-position: 0 -86px;
}
.b-socials__icon._size_s._icon_facebook {
  background-position: -33px -86px;
}
.b-socials__icon._size_s._icon_twitter {
  background-position: -65px -86px;
}
.b-to-top {
  display: none;
  width: 63px;
  width: 3.9375rem;
  height: 63px;
  height: 3.9375rem;
  background: url("../img/b-to-top.png") no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 50px;
  left: 5px;
  z-index: 999;
  opacity: 0.5;
}
.b-to-top:hover {
  opacity: 0.8;
}
.b-top-games__main {
  visibility: hidden;
}
.b-top-games.rendered .b-top-games__main {
  visibility: visible;
}
.b-top-games__heading {
  padding: 15px 0;
  padding: 0.9375rem 0;
  background: url("../img/b-top-games__heading.png") no-repeat center center;
  background-size: contain;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
}
@media only screen and (min-width: 1081px) {
  .b-top-games__heading {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1080px) {
  .b-top-games__heading {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .b-top-games__heading {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
.b-top-games__heading:before,
.b-top-games__heading:after {
  display: block;
  color: #555;
  font-weight: bold;
  text-align: center;
}
.b-top-games__heading:before {
  content: '10';
  font-size: 1.4em;
}
.b-top-games__heading:after {
  content: 'топ';
  text-transform: uppercase;
}
.ie .b-top-games__heading:before {
  font-size: 36px;
}
.b-top-line {
  background: #fff;
  box-shadow: 0 0 20px #737373;
  text-align: center;
}
.b-top-line__logo {
  float: left;
  font-size: 30px;
  font-size: 1.875rem;
  padding: 11px;
  padding: 0.6875rem;
  text-transform: uppercase;
  font-weight: bold;
}
.b-top-line__logo,
.b-top-line__search {
  color: #fff;
  background: #555;
  text-align: center;
}
.b-top-line__menu {
  font-size: 22px;
  font-size: 1.375rem;
  text-transform: uppercase;
  text-align: center;
}
.b-top-line__menu__item {
  display: inline-block;
  vertical-align: top;
}
.b-top-line__menu__item.active {
  font-weight: bold;
}
.b-top-line__menu__item:hover {
  color: #000;
}
.b-top-line__menu__item a {
  display: block;
  padding: 16px 0;
  padding: 1rem 0;
}
.b-top-line__search {
  padding: 12px 10px;
  padding: 0.75rem 0.625rem;
  text-align: center;
  position: relative;
}
.b-top-line__search .form-input {
  width: 100%;
  padding-right: 25%;
}
.b-top-line__search__btn {
  padding: 10px 17px;
  padding: 0.625rem 1.0625rem;
  background: #fff url("../img/b-top-line__search__btn.png") no-repeat center center;
  position: absolute;
  right: 15px;
  top: 32%;
  box-shadow: 0 0 6px #a7a7a7;
  border-radius: 12px;
}
@media only screen and (min-width: 1180px) {
  .b-top-line__main {
    padding: 100px 0 50px;
    padding: 6.25rem 0 3.125rem;
  }
}
@media only screen and (min-width: 1151px) {
  .b-top-line__menu {
    width: 62%;
  }
  .b-top-line__menu__item {
    margin: 0 3.5%;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1150px) {
  .b-top-line__menu__item {
    margin: 0 18px;
    margin: 0 1.125rem;
  }
}
@media only screen and (min-width: 990px) {
  .b-top-line__search {
    width: 16.41%;
  }
}
@media only screen and (max-width: 990px) {
  .b-top-line__logo {
    display: none;
  }
  .b-top-line__menu__item {
    margin: 0 1.5%;
  }
}
@media only screen and (min-width: 670px) {
  .b-top-line__menu {
    float: left;
  }
  .b-top-line__search {
    float: right;
  }
  .b-top-line__logo,
  .b-top-line__menu,
  .b-top-line__search {
    height: 58px;
    height: 3.625rem;
  }
}
@media only screen and (min-width: 671px) and (max-width: 990px) {
  .b-top-line__menu {
    text-align: left;
    width: 70%;
  }
  .b-top-line__search {
    width: 25%;
  }
}
@media only screen and (max-width: 670px) {
  .b-top-line__search {
    margin: 0 auto;
    width: 80%;
    background: transparent;
  }
}
/* fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.fancybox-skin {
  position: relative;
  background: #fff;
  color: #464444;
  text-shadow: none;
  border-radius: 10px;
}
.fancybox-opened {
  z-index: 9999;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
  border-radius: 10px;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../img/fancybox/fancybox_sprite.png");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 9999;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  background: url("../img/fancybox/close-icon.png") no-repeat;
  position: absolute;
javascript
  top: 30px;
  top: 1.875rem;
  width: 12px;
  height: 11px;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.fancybox-close:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
@media only screen and (min-width: 801px) {
  .fancybox-close {
    right: 42px;
    right: 2.625rem;
  }
}
@media only screen and (max-width: 800px) {
  .fancybox-close {
    right: 10px;
    right: 0.625rem;
  }
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancybox/blank.gif"); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 9999;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 9999;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-navhover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible;
}
.fancybox-lock {
  overflow: hidden;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8999;
  background: rgba(0,0,0,0.7);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 9999;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 9999;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url("../img/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("../img/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
  }
}
@media only screen and (min-width: 960px) and (max-width: 1150px) {
  html {
    font-size: 95%;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
